@import "tailwindcss";


.background{
  @apply fixed inset-0 bg-white;
  background-size: 24px 24px;
  z-index: -10;

}


.campus-background {
  @apply fixed inset-0 bg-white;
  background-image: 
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
  z-index: -10;
  
}
